@code {
    // Define a parameter for the picture data
}
<div class="picture-data-box">
    <h3>Picture Information</h3>
    <div class="box-content">
        <h2>Filename: @FileName</h2>
        <h2>Current Box: @CurrentBox</h2>
        <h2>Font: @Font</h2>
        <select>
            @foreach (var box in AvailableBoxes)
            {
                <option value="@box">@box</option>
            }
        </select>
    </div>
</div>

<style>
    .picture-data-box {
        border: 5px solid #ccc;
        background-color:black;
        width:auto;
        font-weight:600;
        padding: 15px;
        margin-bottom: 15px;
    }

    .box-content {
        margin-top: 10px;
    }
</style>




